nav { 
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
} 

nav button {
    height: 4rem;
}

h1 {
    text-align: center;
}
.task-list {
    background: black;
    border: 1px solid lightcyan;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 70%;
    padding: 2%;
    margin: 0 15%;

} 

.logo-img {
    width: 15%;
    height: 15%;
    padding: 2%;
    margin: 2%;
}

.task-list h1 {
    text-align: center;
    
} 

.task-list p {
    text-align: left;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightcyan;
    padding: 5%;
    margin: 2%;
} 

.tasks-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grade-yourself-container {
    display: flex; 
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.task-button-container {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    margin: 5%;
}

.edit-submit {
    margin: 5%;
}

.task-name {
    border: 1px solid lightcyan;
    width: 100%;
    border: 1px solid black; 
    background-color: lightcyan;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding: 5%;
}

.category-name { 
    border: 1px solid black; 
    background-color: lightcyan;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5%;
    
} 

.task-name p {
    background-color: lightcyan;
    color: black;
    text-align: center;
    padding-top: 1%;
    
}

.category-name p {
    background-color: lightcyan;
    color: black;
    text-align: center;
    padding-top: 1%;
    
}


.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-input {
    background-color: lightcyan;
    color: black;
} 

.category-input {
    background-color: lightcyan;
    color: black;
}

.gpa {
    background: black;
    border: 1px solid lightcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 15%;
    padding: 2%;
} 

.gpa h1 {
    margin-bottom: 2%;
    border-bottom: 1px solid lightcyan;
}


.add-task {
    border: 1px solid lightcyan;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2% 15%;
    padding: 2%;
}

.add-task button { 
    margin: 10px 20%;
}

footer {
    background-color: black;
    text-align: center;
    color: lightcyan;
    padding: 2px;
    margin-top: 1%;
} 

.success {
    color: #28a745;
    font-size: 5rem;
    margin: 5%;
}

.failure {
    color: #dc3545; 
    font-size: 5rem;
    margin: 5%;
}